/* ----------------------------------------------------------------------- */
/* ----------------------------------- BANNER ------------------------------ */
/* ----------------------------------------------------------------------- */

.banner{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.banner .banner_hd{
    font-size: clamp(1.65rem,3.5vw,4.5rem);
}

.banner .caps{
    font-size: clamp(0.95rem,2vw,1.4rem);
    padding-top: 0.74em;
    padding-bottom: 0.8em;
}

.banner .banner_hd span{
    font-weight: 600;
}

.banner .banner_img img{
    width: 100%;
    max-width: 500px;
}