.dev_services{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    &.bg_top{
        background-image: url(../assets/img/backgrounds/slight-curve-top.png);
        .img_wrapper{
            img{
                max-width: 300px;
            }
        }
    }
    &.bg_bottom{
        background-image: url(../assets/img/backgrounds/slight-curve-bottom.png);
        .img_wrapper{
            img{
                max-width: 400px;
            }
        }
    }
    .bkg {
        background-color: #ffffff7a;
        padding-bottom: 1em;
    }
    .bkg2 {
        background-color: #ffffff7a;
        padding-top: 1em;
    }    
    h4{
        font-size: clamp(1.4rem,2vw,2.5rem);
        margin-bottom: 0.5em;
        span{
            font-weight: 600;
        }
    }
    .desc{
        font-size: clamp(0.8rem,1.5vw,1.1rem);
    }
    a{
        margin-top: 2rem;
    }
    &.gradient{
        h4{
            color: #fff;
            span{
                color: #fff;
            }
        }
        .desc{
            color: #fff;
        }
        a:hover{
            color: var(--red);
        }
    }
    .contact_form_wrapper{
        form{
            margin: 0 auto !important;
            padding: 8em 0px 10em;
        }
    }
}

@media (max-width:1080px) {
    .dev_services .contact_form_wrapper form {
        padding: 6em 0px 8em;
    }
}

@media (max-width:991px) {
    .dev_services .bkg {
            order: -1;
    }
    .dev_services.bg_top .img_wrapper img {
        max-width: 200px;
        margin-top: 1.5em;
    }
    .dev_services.bg_bottom .img_wrapper img {
        max-width: 230px;
        margin-bottom: 1.5em;
    }
}

@media (max-width:767px) {
    .dev_services.small_img img{
        max-width: 200px; 
        margin-top: 2em;
    }
}

@media (max-width:767px) {
    .dev_services .contact_form_wrapper{
        background-color: #fff;
        background-image: none;
    }
    .dev_services .contact_form_wrapper form {
        padding: 0;
    }
}

.expertise_sec{
    background: var(--light-pink);
    .small_hd{
        text-align: center;
        font-size: clamp(1rem,1.5vw,1.3rem);
        margin-bottom: 2em;
    }
    .flex_wrapper{
        @include Flex(row,center,stretch,1rem,1rem,wrap);
        .box{
            width: 100%;
            background-color: #fff;
            box-shadow: 0 0 10px #33333382;
            max-width: 525px;
            border-radius: 10px;
            padding: 3em 2em;
            display: flex;
            align-items: center;
            column-gap: 20px;
        }
    }
}
