/* ----------------------------------------------------------------------- */
/* --------------------------------- FOOTER ------------------------------ */
/* ----------------------------------------------------------------------- */

footer{
    background-color: var(--black);
}

footer .container.colphon{
    padding-top: 6em;
    padding-bottom: 6em;
}

.foo_bottom{
    background-color: #000;
}

.copyright{
    display: flex;
    flex-flow: row wrap;
    color: #fff;
    justify-content: space-between;
    padding: 0.5em 0;
    column-gap: 1rem;
}

.copyright p{
    color: inherit;
    font-size: clamp(0.9rem,1vw,1rem);
}

footer .footer_navigation{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    column-gap: 3%;
}

footer .footer_navigation .column{
    width: 100%;
    max-width: calc(91%/4);
}

footer .footer_navigation h5{
    color: var(--red_light);
    font-weight: 500;
    font-size: clamp(1rem,2vw,1.5rem);
    margin-bottom: 0.5em;
}

footer .footer_navigation ul{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
}

footer .footer_navigation ul li{
    margin-bottom: 0.5em;
}

footer .footer_navigation ul li a{
    color: #fff;
    text-decoration: none ;
    font-weight: 400;
    font-size: clamp(0.8rem,2vw,1.1rem);
    line-height: normal;
}

footer .social-navigation ul{
    display: flex;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}

footer .social-navigation li{
    display: inline-block;
}

footer .social-navigation li a i{
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-right: 5px;
    border: 2px solid #fff;
    text-align: center;
    color: #fff !important;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

footer .social-navigation .facebook:hover{
    background-color: #4267B2;
    border-color: #4267B2;
    border-radius: 50%;
}
footer .social-navigation .twitter:hover{
    background-color: #00acee;
    border-color: #00acee;
    border-radius: 50%;
}
footer .social-navigation .linkedin:hover{
    background-color: #0077b5;
    border-color: #0077b5;
    border-radius: 50%;
}
footer .social-navigation .instagram:hover{
    background-color: #C13584;
    border-color: #C13584;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
footer .social-navigation .behance:hover{
    background-color: #053eff;
    border-color: #053eff;
    border-radius: 50%;
}
footer .social-navigation .dribble:hover{
    background-color: #ea4c89;
    border-color: #ea4c89;
    border-radius: 50%;
}
footer .social-navigation .pinterest:hover{
    background-color: #c8232c;
    border-color: #c8232c;
    border-radius: 50%;
}
footer .social-navigation .flickr:hover{
    background-color: #ff0084;
    border-color: #ff0084;
    border-radius: 50%;
}
footer .social-navigation .vine:hover{
    background-color: #00a478;
    border-color: #00a478;
    border-radius: 50%;
}
footer .social-navigation .reddit:hover{
    background-color: #ff4500 ;
    border-color: #ff4500 ;
    border-radius: 50%;
}
footer .social-navigation .slideshare:hover{
    background: linear-gradient(90deg, rgba(233,124,23,1) 50%, rgba(20,119,189,1) 50%);
    border-radius: 50%;
}
footer .social-navigation .wordpress:hover{
    background-color: #21759b ;
    border-color: #21759b ;
    border-radius: 50%;
}
footer .social-navigation .tumblr:hover{
    background-color: #34526f ;
    border-color: #34526f ;
    border-radius: 50%;
}
footer .social-navigation .youtube:hover{
    background-color: #FF0000;
    border-color: #FF0000;
    border-radius: 50%;
}

footer .info_ul {
    list-style: none;
    margin-right: 4.5rem;
}

footer .info_ul li:not(li:last-child){
    margin-bottom: 1rem;
}

footer .info_ul li .info_wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    color: #fff;
}

footer .info_ul li .info_wrapper span{
    color: inherit;
    font-size: clamp(1rem,2vw,1.2rem);
    font-weight: 600;
    word-break: break-all;
}

footer .info_ul li .info_wrapper .img_wrapper{
    width: 20px;
    min-width: 20px;
}

footer .info_ul li h5{
    color: #fff;
    font-size: clamp(1rem,2vw,1.2rem);
    margin-bottom: 0.5em;
    margin-top: 2em;
}

footer .foo_logo img{
    width:clamp(120px,10vw,200px);
    margin-bottom: 1.5em;
}

footer .info_ul .input_group{
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 450px;
}

footer .info_ul input[type="text"]{
    border-radius: 2rem;
    padding: 0.6em 1.5em;
    padding-right: 6em;
    font-size: 1rem;
    border: 0;
}

footer .info_ul input[type="text"]:focus{
    box-shadow: unset !important;
}

footer .info_ul input[type="button"]{
    border-radius: 2rem !important;
    width: 100%;
    max-width: 100px;
    min-width: 100px;
    height: 100%;
    border: 0;
    background-color: var(--red);
    color: #fff;
    position: absolute;
    right: 0;
}
