/* ----------------------------------------------------------------------- */
/* --------------------------------- HEADER ------------------------------ */
/* ----------------------------------------------------------------------- */

$listItemr : 20px;

header {
    box-shadow: 0 0 10px #cbcbcba3;
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 999;
    nav {
        padding: 15px 0 !important;
        .navbar-brand img {
            width: clamp(85px, 9vw, 110px);
        }
        .common_btn {
            margin-left: 3rem;
        }
        .nav-item {
            ul{
                list-style: none;
            }
            .droplist[data-dropdown=first]{
                display: none;
                position: absolute;
                top: 70px;
                left: 0;
                min-width: 250px;
                background-color: #fff;
                z-index: 5;
                border-radius: $listItemr;
                box-shadow: 0 0 10px rgb(175, 175, 175);
                .list_item{
                    .droplist[data-dropdown=second]{
                        display: none;
                        position: absolute;
                        top: 5px;
                        right: -251px;
                        min-width: 250px;
                        background-color: red;
                        background-color: #fff;
                        z-index: 6;
                        border-radius: $listItemr;
                        box-shadow: 0 0 10px rgb(175, 175, 175);
                    }
                    &:hover .droplist[data-dropdown=second]{
                        display: block;
                    }
                }
            }
            
            &:hover .droplist[data-dropdown=first]{
                display: block;
            }
            .list_item{
                padding: 0.7em 1em;
                white-space:nowrap;
                @include Fade(0.2s);
                border-bottom: 1px solid rgb(233, 232, 232);
                &:first-child{
                    border-top-left-radius: $listItemr;
                    border-top-right-radius: $listItemr;
                }
                &:last-child{
                    border-bottom-left-radius: $listItemr;
                    border-bottom-right-radius: $listItemr;
                    border-bottom: none;
                }
                &:hover{
                    background-color: var(--red);
                    color: #fff;
                    i{
                        transform: rotate(90deg);
                    }
                }
                a{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                i{
                    @include Fade(0.2s);
                    color: inherit;
                    font-size: 0.7rem;
                    margin-left: 0.5rem;
                }
            }
            &:hover > .nav-link {
                color: #c7041d;
            }
            .nav-link {
                color: var(--black);
                font-weight: 500;
                font-size: 20px;
                opacity: 0.8;
                padding: 20px 15px !important;
            }
        }
    }

    .navbar-toggler {
        background-color: var(--red);

        span {
            color: #fff;
            padding: 0.1em 0;
        }
    }
}
