#lightRoom{
    background-color: rgba(0, 0, 0, 0.5);
}

#lightRoom .modal-dialog{
    width: 100%;
    max-width: 100%;
}

#lightRoom .modal-content{
    background-color: transparent !important;
    border: 0;
}

#lightRoom .modal-body::before{
    content: '';
    position: absolute;
    bottom: -150px;
    left: 50%;
    width: 200px;
    height: 80px;
    background-color:rgb(255, 255, 255);
    z-index: -1;
    transform:  translateX(-50%) perspective(5rem) rotateX(135deg);
    filter: blur(30px);
}
#lightRoom .modal-body::after{
    content: '';
    position: absolute;
    top: -200px;
    left: 50%;
    width: 200px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    transform: translateX(-50%) perspective(5rem) rotateX(45deg);
    filter: blur(30px);
}

#lightRoom .modal-header{
    border: 0;
}

#lightRoom .modal-header span{
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 2rem;
}

.lightroom_img{
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    cursor: none;
}

.modal-dialog {
    margin: 0 !important;
}